body, html
{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    margin: 0;
    padding: 0;
    background: rgb(14, 14, 14) !important;
    color: white;
    overflow-x: hidden;
}

html
{
    overflow-y: scroll;
    height: 100%;
}

:root
{
    --grey-one: rgb(22, 22, 22);
    --grey-two: rgb(29, 29, 29);
    --grey-three: rgb(46, 46, 46);
}

button
{
    outline: none;
    border: none;
    appearance: none;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    background: transparent;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--grey-three);
    transition: background-color 0.1s linear;
}

::-webkit-scrollbar-thumb:hover
{
    background: rgb(70, 70, 70);
}